{{#link-to 'dashboard.clusters/new'}}<button class='btn btn-success'>New</button>{{/link-to}}

{{#each cluster in model}}
  <div class='jumbotron'>
    {{#link-to 'dashboard.cluster' cluster}}
    <div>
      <div>id: {{cluster.id}}</div>
      <div>name: {{cluster.name}}</div>
      <div>strategy: {{cluster.strategy}}</div>
      <div>state_message: {{cluster.state_message}}</div>
      <div>token: {{cluster.token}}</div>
      <div>created_at: {{cluster.created_at}}</div>
      <div>updated_at: {{cluster.updated_at}}</div>
      <div>nodes_count: {{cluster.nodes_count}}</div>
      <div>containers_count: {{cluster.containers_count}}</div>
      <div>last_ping: {{cluster.last_ping}}</div>
      <div>state: {{cluster.state}}</div>
    </div>
    {{/link-to}}
    <button {{action 'delete' cluster}} class='btn btn-danger'>Delete</button>
  </div>
{{/each}}
