<div class='col-md-9'>
{{#each cluster in model}}
  <div class='well infos {{cluster.state}}'>
    {{#link-to 'cluster' cluster}}
    <div>
      <div>
        <div class='head'>
          <div class='name'>{{cluster.name}}</div>
          <div class='id'>{{cluster.id}}</div>
        </div>
        <div class='state {{cluster.state}}'>{{cluster.state}}</div>
      </div>

      <div class='content'>
        <div>name: {{cluster.name}}</div>
        <div>strategy: {{cluster.strategy}}</div>
        <div>state_message: {{cluster.state_message}}</div>
        <div>token: {{cluster.token}}</div>
        <div>created_at: {{cluster.created_at}}</div>
        <div>updated_at: {{cluster.updated_at}}</div>
        <div>nodes_count: {{cluster.nodes_count}}</div>
        <div>containers_count: {{cluster.containers_count}}</div>
        <div>last_ping: {{cluster.last_ping}}</div>
        <div>state: {{cluster.state}}</div>
      </div>
    </div>
    {{/link-to}}
    <div class='actions'>
      {{#link-to 'cluster.edit' cluster}}<button class='btn btn-warning'>Edit</button>{{/link-to}}
      <button {{action 'delete' cluster}} class='btn btn-danger'>Delete</button>
    </div>
  </div>
{{/each}}
</div>

<div class='col-md-3'>
  <div class='well'>
    {{#link-to 'clusters.new'}}<button class='btn btn-block btn-success'>Create new cluster</button>{{/link-to}}
  </div>
</div>
