<div>
  <div class='row'>
    Containers count: {{containersCount}}
  </div>

  <div class='row'>
    <div class='col-md-8'>
      {{#each container in model}}
        <div class='jumbotron'>
          {{#link-to 'container' container}}
          <div class='col-md-2'>{{container.image}}</div>
          {{/link-to}}

          <button {{action 'delete' container}} class='btn btn-danger'>Delete</button>
        </div>
      {{/each}}
    </div>

    <div class='col-md-3 col-md-offset-1 well'>
      {{#link-to 'containers/new'}}
      <button class="btn btn-success">Add Container</button>
      {{/link-to}}
    </div>
  </div>
</div>

<!-- <center>
  {{pagination-pager current=page count=pagesCount hide=true}}
</center>

{{#if all}}
  {{#link-to 'containers' (query-params all=false page=1)}}Hide Inactives{{/link-to}}
{{else}}
  {{#link-to 'containers' (query-params all=true page=1)}}Show Inactives{{/link-to}}
{{/if}} -->
