<div>
  <div class='row'>
    Nodes count: {{nodesCount}}
  </div>

  <div class='row'>
    <div class='col-md-8'>
      {{#each node in model}}
        <div class='jumbotron'>
          {{#link-to 'node' node}}
          <div class='col-md-2'>{{node.name}}</div>
          {{/link-to}}

          <div class='col-md-2'>{{node.deployedAt}}</div>

          {{#each container in node.containers}}
          {{#link-to 'container' container}}
          <div class='col-md-2'>{{container.image}}</div>
          {{/link-to}}
          {{/each}}

          <button {{action 'delete' node}} class='btn btn-danger'>Delete</button>
        </div>
      {{/each}}
    </div>

    <div class='col-md-3 col-md-offset-1 well'>
      {{#link-to 'nodes/new'}}
      <button class="btn btn-success">Add node</button>
      {{/link-to}}
    </div>
  </div>
</div>
