<!-- <div class='col-md-9'>
  <div class='well infos {{model.state}}'>
    <div>
      <div>
        <div class='head'>
          <div class='name'>{{model.name}}</div>
          <div class='id'>{{model.id}}</div>
        </div>
        <div class='state {{model.state}}'>{{model.state}}</div>
      </div>

      <div class='content'>
        <div>name: {{model.name}}</div>
        <div>strategy: {{model.strategy}}</div>
        <div>state_message: {{model.state_message}}</div>
        <div>token: {{model.token}}</div>
        <div>created_at: {{model.created_at}}</div>
        <div>updated_at: {{model.updated_at}}</div>
        <div>nodes_count: {{model.nodes_count}}</div>
        <div>containers_count: {{model.containers_count}}</div>
        <div>last_ping: {{model.last_ping}}</div>
        <div>state: {{model.state}}</div>
      </div>
    </div>

    <div class='actions'>
      {{#link-to 'node.edit'}}<button class='btn btn-warning'>Edit</button>{{/link-to}}
      <button {{action 'delete'}} class='btn btn-danger'>Delete</button>
    </div>
  </div>
</div> -->

<div class='col-md-9'>
  <div class='toto'>
    <div class='head'>
      <div class='name'>{{model.name}}</div>
      <div class='id'>{{model.id}}</div>
    </div>
    <div class='state {{model.state}}'>{{model.state}}</div>
  </div>
</div>

<div class='col-md-3'>
  <div class='well'>
    {{#link-to 'node.edit'}}<button class='btn btn-block btn-warning'>Edit node</button>{{/link-to}}
    <button {{action 'delete'}} class='btn btn-block btn-danger'>Delete node</button>
  </div>

  <div class='well'>
    <div>name: {{model.name}}</div>
    <div>strategy: {{model.strategy}}</div>
    <div>state_message: {{model.state_message}}</div>
    <div>token: {{model.token}}</div>
    <div>created_at: {{model.created_at}}</div>
    <div>updated_at: {{model.updated_at}}</div>
    <div>nodes_count: {{model.nodes_count}}</div>
    <div>containers_count: {{model.containers_count}}</div>
    <div>last_ping: {{model.last_ping}}</div>
    <div>state: {{model.state}}</div>
  </div>
</div>
